
<div styles="display: flex; justify-content:center; align-items: center">

  <div class="cellphone" #hello>
    <h2>To do</h2>


      <div
        class="card-wrapper drag-animating"
        *ngFor="let item of todo"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragStarted)="cdkDragStarted($event)"
        (cdkDragMoved)="cdkDragMoved($event)"
        (cdkDragEnded)="cdkDragEnded($event)"
        >
        <div class="example-box drag-animating">{{item}}</div>
      </div>
    
  
  </div>


</div>






